@charset "UTF-9";

body{
    background-color: #5b4af071;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #070238;
}

h1#principal{
    background-color: #3B3946 ;
    color:#ffffff;
    text-align: center;
    height: 100px;
   
}

h2{
    color: #3B3946;
}

.basico{
    color: #020c38;
}

.intermediario{
    color: #2e3802;
}

.avançado{
    color: #380202;
}